
CMakeFiles/
Broker_autogen/
Testing/
*cmake_install*
*Cache*
*cbp
doxygen/
release/appdir/
android_files/
android-build/
DBCredential_NotPush.h

_deps/


BrokerManagerGtest_autogen/moc_predefs.h

BrokerManagerGtest_autogen/mocs_compilation.cpp

BrokerManagerTest

BrokerManagerTest_autogen/

BrokerTest_autogen/

BrokerTest_autogen/SN4MPFU2BD/moc_Importer.cpp.d

CTestTestfile.cmake

lib/libgmock_main.a

lib/libgmock.a

lib/libgtest_main.a

lib/libgtest.a

Makefile

mytest

mytest_autogen/

mytest2

mytest2_autogen/
BrokerTest

android1/android_deployment_settings.json

android1/android_deployment_settings.json.in

android1/qml.qrc.depends

android1/qrc_qml.cpp
ImporterTest_autogen/
BinanceTest_autogen/
B2mTest_autogen/
build/
release/
B2mV2Test_autogen/
.ninja_deps
.ninja_log
Broker.exe
build.ninja
qml.qrc.depends
.qt/deploy_Broker_897e8ce787
.qt/QtDeploySupport.cmake
Test/B2mTest.exe
Test/B2mV2Test.exe
Test/BinanceTest.exe
Test/BrokerManagerTest.exe
Test/BrokerTest.exe
Test/gtest_resume.log
Test/ImporterTest.exe
Test/SQLManagerTest.exe
Test/testlog.txt
SQLManagerTest_autogen/
